body{
    margin-top: 60px;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    margin-left: 0px;
}
.website-header{
    display: grid;
    position: fixed;
    grid-template-columns: 1fr 2.5fr 1fr;
    background-color: rgb(19, 25, 33);
    color: white;
    left:0px;
    top:0px;
    right: 0px;
    align-items: center;
    height: 60px;
    z-index: 100;
}
.amazon-logo{
    width: 100px;
    height: 31px;
    margin-left: 20px;
    margin-right: 10px;
    padding: 8px;
}
.amazon-logo:hover{
    border: 1px solid white;
 
}
.header-middle-section{
    display: flex;
    height: 40px;
    align-items: center;

}
.search-button{
    border-bottom-right-radius: 5px;
    border-top-right-radius:5px;
    background-color: rgb(254, 189, 105);
    height: 42px;
    border: none;
    
}
.search-magnify{
    height: 22px;
    padding: 0px 10px;
}
.header-middle-section>input {
    width: 100%;
    padding-left: 20px;
    font-size: 16px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    height: 40px;

}
.header-right-section{
    display: flex;
    justify-content:flex-end;
    margin: 0px 20px;
    align-items: center;
}
.return-order{
    cursor: pointer;
    width: 65px;
    padding: 6px;
}
.return-order:hover{
    border: 1px solid white;
}
.cart-image{
    position: relative;
    padding: 10px 7px 0px 7px;

}
.cart-qty{
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(240, 136, 4);
  padding-left: 10px;
}

.landingPage-Grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.product-block{
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;

}
.image-div{
    height: 180px;
    width: 180px;
    position: relative;
}
.product-image{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0%;
}
.product-name{
    margin: 15px 0px 8px;
    width: 190px;
    height: 40px;
    font-size: 16px;
    overflow: hidden; 
}
.product-rating{
    width: 100px;

}

.addtocart-button{
    background-color: rgb(247, 202, 0);
    border: none;
    padding: 7px 0px;
    border-radius: 18px;
    font-size: 14px;
    margin:50px 0px 0px 0px;
    width: 160px;
    cursor: pointer;
}
.addtocart-button:hover {
    background-color: rgb(236, 193, 0);
}
